body
{
	margin:0;
}
header
{background:black;
color:white;
padding:8px 0px 6px 40px;
height:45px;
}
header h1
{
	display:inline;
	font-weight:400;
	font-size:32px;
	float:left;
	margin-top:0px;
	margin-right:12px;
}
nav ul{
	padding:0px;
	float:left;
}
nav ul li 
{
	display:inline-block;
	list-style-type:none;
	color:white;
	float:left;
	margin-right:12px;
}
nav ul li a
{
	color:white;
	text-decoration:none;
}
.homered
{
	background-color:red;
	padding:30px 10px 16px 10px;
}
.divider
{
	background-color:red;
	height:5px;
}
.homeblack:hover
{
	background-color:blue;
	padding:30px 10px 16px 10px;
}
.wel
{
	padding:1% 5% 0% 35%;
	color:#663399;
	background-color:rgba(0,0,0,0,4);
	display:inline-block;
}
.per
{
	margin:25% 0% 0% 56%;
	color:#CD5C5C;
}
.but
{
	margin:0% 0% 0% 65%;
	background:#CD5C5C;
	color:black;
	border:none;
	height:50px;
	font-size:1.4em;
	padding:0 1em;
	cursor:pointer;
	outline:none;
	font-weight:900;
}
	
	